.page {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 24px;
  font-family: 'Inter', Arial, sans-serif;
  position: relative;
  background-color: #2A2C2F;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .page {
    padding-top: 28px;
  }
}