.photo-grid{
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(0, 284px));
  grid-template-rows: repeat(auto-fit, 1fr);
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  grid-auto-columns: 0;
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(0, calc((928px - 28px)/3)));
    width: 928px;
    gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(0, calc((720px - 16px)/2)));
    width: 720px;
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    width: 284px;
    gap: 12px;
  }
}