.header__link{
  color: #ffffff;
  text-decoration-line: none;
  transition: text-decoration-line;
}
.header__link:last-child{
  margin: 0;
  margin-left: 18px;
}
.header__link:hover{
  text-decoration-line: underline;
}