.footer__column-link{
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  opacity: 1;
}
.footer__column-link:hover{
  transition: opacity .5s linear;
  opacity: .5;
}