.photo-grid__header{
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
/*-----Для того, чтобы работал семантический тэг "section", необходим тэг заголовка.
Я понимаю, что скрытых элементов быть не должно, однако без этого не получится-----*/